<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mensajero" class="pe.edu.cibertec.capitulo1.v.ejercicio1.beans.Mensajero" scope="prototype">
        <property name="publico" value="Grupo JDB-2025-52V"/>
    </bean>
</beans>
