<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <bean id="impresoraServiceBean" class="pe.edu.cibertec.service.ImpresoraService">
        <!--<property name="documento" ref="documentoTexto"/>-->
        <constructor-arg ref="documentoTexto"/>
    </bean>
    <bean id="documentoExcel" class="pe.edu.cibertec.beans.DocumentoExcel"
        init-method="iniciar" destroy-method="destruir"/>
    <bean id="documentoTexto" class="pe.edu.cibertec.beans.DocumentoTexto"/>
</beans>
