<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pe.edu.cibertec"/>

    <bean id="employeeRepository" class="pe.edu.cibertec.repository.InMemoryEmployeeRepository"/>

    <bean id="employeeService" class="pe.edu.cibertec.service.impl.EmployeeServiceImpl">
        <property name="repository" ref="employeeRepository"/>
    </bean>

    <aop:config>
        <aop:aspect id="logPerformance" ref="logPerformance">
            <aop:pointcut id="service" expression="execution(* pe.edu.cibertec.service.*.*(..))"/>
            <aop:around method="medirTiempo" pointcut-ref="service"/>
        </aop:aspect>
    </aop:config>


</beans>
